body{
	background-color:lightblue;
	padding-left: auto;
	padding-right: auto;
	padding-top: 8%;
	max-width: 100%;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h1{
	font-size: 18px;
}
div.qr_code{
text-align:center;
background-color:white;
margin-left:auto;
margin-right:auto;
width:300px;
border-radius:20px;
}
div.qr_code img{
	height:auto;
	width:100%;
	border-radius:20px;
}
.image{
	padding:20px;
}

@media screen and (max-width: 600px){
	body{
		background-color:lightblue;
		padding-left: auto;
		padding-right: auto;
		padding: 0;
		margin: 0;
		width: 100%;
		
	}
	div.qr_code{
		text-align:center;
		background-color:white;
		margin: 20% auto;
		width:70%;
		border-radius:20px;
		}
		h1,  p {
			font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
			font-size:20px;
		
		}
	
}

